<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>МегаФон — Интернет и ТВ</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <div class="logo">
                <img src="../static/img/logo.svg" alt="МегаФон">
                <div class="partner">официальный партнёр</div>
            </div>                      
            <nav class="top-nav">
                <a href="#">Для дома</a>
                <a href="#">Для бизнеса</a>
                <a href="#">Личный кабинет</a>
            </nav>
            <div class="region-connect">
                <span class="region">
                    <img src="../static/img/location-icon.jpg" alt="Локация">
                    г Самара
                </span>
                <a href="#" class="connect-btn">ПОДКЛЮЧИТЬСЯ</a>
            </div>
            
            
        </div>
        <nav class="bottom-nav">
            <a href="#">Тарифы</a>
            <a href="#">Услуги</a>
            <a href="#">Поддержка</a>
            <a href="#">Приложение</a>
        </nav>
    </header>
</body>
</html>
